PORT=8080
NODE_ENV=development
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>/entrega1?retryWrites=true&w=majority
PUBLIC_BASE_URL=https://scalable-backend-api.onrender.com
# Tests locales (opcional)
# MONGODB_URI_TEST=mongodb://127.0.0.1:27017/entrega1_test
